.grid {
  display: grid;
  grid-template-columns: 1fr 6fr;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
.pagination-box {
  position: absolute;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
