/* MAIN CSS */
/*

--- 01 Typography
Font sizes
10 / 12  / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 /  98

Font weights: 
Default: medium
bold

Line heights:
Default: 1 

--- 02 Colors
Primary: #000000
#14213D
#FCA311
#E5E5E5
#fff
#555
#333
--- 03 Shadows

--- 04 Border-radius

--- 05 Whitespace
Spacing (px)
2/4/8/12/16/24/32/48/64/80/96/128

*/
/* DEF SETTINGS */
@font-face {
  font-family: stratum2medium;
  src: url(/src/fonts/stratum2medium.ttf) format("truetype");
}
@font-face {
  font-family: stratum2bold;
  src: url(/src/fonts/stratum2bold.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /*
      Default font size: 16px, => 1 rem = 16px

      Make 1 rem = 10px
      10px / 16px = 0.625
    */
  font-size: 62.5%;
}

body {
  font-family: stratum2medium;
  line-height: 1;
  background-color: #e5e5e5;
}
/* LOGO */
.logo-box {
  grid-column: 2 / -1;
  align-self: center;
  justify-self: center;
  margin: 1.2rem 0 1.2rem 0;
}
.logo {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  box-shadow: 0 0 5px #333;
  cursor: pointer;
}
/* PROFILE PICTURE */
.profile-box {
  display: flex;
  width: 20rem;
  height: 20rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  background-color: #14213d;
  margin: 1.8rem;
  align-self: center;
  justify-self: center;
  border: 5px solid #fff;
  box-shadow: 0 0 5px #333;
  grid-row: 1;
}
.profile-box img {
  width: 10rem;
  border: 2px solid #fff;
}
.profile-box .profile-name {
  font-size: 2.2rem;
  color: #fff;
  text-align: center;
}
/* FRIEND LIST */
.friend-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  grid-column: 1;
  padding: 1.2rem;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #000;
  overflow-y: scroll;
}
.friend-list::-webkit-scrollbar {
  width: 5px;
  border-radius: 0 5px 5px 0;
  background-color: #000;
}
.friend-list::-webkit-scrollbar-thumb {
  background-color: #fca311;
  border-radius: 0 100px 100px 0;
}
.friend-box {
  width: 100%;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  background-color: #14213dc5;
  padding: 1rem;
  border-radius: 10px;
}

.friend-box img {
  width: 4rem;
  border: 2px solid #fff;
}
.friend-name {
  color: #fff;
  font-size: 1.6rem;
}
/* INVENTORY AND SORTING */
.inventory-sort-box {
  margin: 3.2rem;
  border: 2px solid #000;
}
/* sort */
.filter-sort-box {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 2.4rem;
  justify-content: space-between;
  border-bottom: 2px solid #14213d;
}
.search-box {
  width: 24rem;
}
.search-box input {
  width: 100%;

  border: 2px solid #14213d;
  font-size: 1.8rem;
  font-family: inherit;
  padding: 1rem 0 1rem 0;
}
.search-box input::placeholder {
  opacity: 0.5;
}
.sort {
  font-size: 1.8rem;
  cursor: pointer;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 10px;
  border: 2px solid #14213d;
}
.sort:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
/* inventory */
.inventory-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1.2rem;
  overflow: hidden;
  padding: 1.2rem;
  position: relative;
}
.item {
  border: 2px solid #333;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1.2rem 0 1.2rem;
  overflow: hidden;
  background-color: #14213d;
  border-radius: 10px;
  border: 2px solid #333;
}
.item-description-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
}
.item-name {
  font-size: 1.4rem;
  flex-wrap: wrap;
  color: #fff;
  letter-spacing: -0.2px;
  line-height: 1.2;
}
.item-price {
  font-family: Stratum2bold;
  font-size: 1.8rem;
  color: #fca311;
}
.item-image-box {
  align-self: center;
  justify-self: center;
}
.item-image-box img {
  width: 8rem;
}
.inventory-box .pagination-box {
  font-size: 4rem;
  border-radius: 50%;
  background-color: #14213d;
  color: #fff;
}
.inventory-box .pagination-box:hover {
  box-shadow: 0 0 5px #000;
}
.inventory-box .pagination--left {
  bottom: -5rem;
  left: -0.5rem;
}
.inventory-box .pagination--right {
  bottom: -5rem;
  right: -0.5rem;
}
